@charset "UTF-8";
body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #f0f4c3;
	margin: 0;
	font-family: Arial, sans-serif;
}
.sign-container {
	background-color: #fff;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	width: 300px;
	text-align: center;
}
.loginbutton {
	width: 100%;
	padding: 10px;
	margin-top: 20px;
	border: none;
	border-radius: 5px;
	background-color: #aed581;
	color: white;
	font-size: 16px;
	cursor: pointer;
}
.signup-container button:hover {
	background-color: #9ccc65;
}